<footer class="container py-5">
    <div class="row">
        <div class="col-12 col-md">
            <fa-icon [icon]="faDumbell"></fa-icon>
            <small class="d-block mb-3 text-muted">©Flex Nation 2019-2019 </small>
        </div>
        <div class="col-6 col-md">
            <h5>Navigate</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" routerLink="tops">Tops</a></li>
                <li><a class="text-muted" routerLink="tops">Bottoms</a></li>
                <li><a class="text-muted" routerLink="tops">Tech</a></li>
                <li><a class="text-muted" routerLink="checkout">Basket</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
                <li>
                    <a class="text-muted" href="#">Resource</a>
                </li>
                <li>
                    <a class="text-muted" href="#">Resource name</a>
                </li>
                <li>
                    <a class="text-muted" href="#">Another resource</a>
                </li>
                <li>
                    <a class="text-muted" href="#">Final resource</a>
                </li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Social</h5>
            <ul class="list-unstyled text-small">
                <li>
                    <a class="Facebook" href="#"><fa-icon [icon]="faFacebook"></fa-icon> Facebook</a>
                </li>
                <li>
                    <a class="Twitter" href="#"><fa-icon [icon]="faTwitter"></fa-icon> Twitter</a>
                </li>
                <li>
                    <a class="Instagram" href="#"><fa-icon [icon]="faInstagram"></fa-icon> Instagram</a>
                </li>
                <li>
                    <a class="Snapchat" href="#"><fa-icon [icon]="faSnapchat"></fa-icon> Snapchat</a>
                </li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
                <li>
                    <a class="text-muted" href="#">Team</a>
                </li>
                <li>
                    <a class="text-muted" href="#">Locations</a>
                </li>
                <li>
                    <a class="text-muted" href="#">Privacy</a>
                </li>
                <li>
                    <a class="text-muted" href="#">Terms</a>
                </li>
            </ul>
        </div>
    </div>
</footer>