<nav class="site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2" routerLink="home"><fa-icon [icon]="faAirFreshener"></fa-icon></a> 
        <a class="py-2 d-none d-md-inline-block" routerLink="tops">Tops</a>
        <a class="py-2 d-none d-md-inline-block" routerLink="tops">Bottoms</a>
        <a class="py-2 d-none d-md-inline-block" routerLink="tops">Tech</a>
        <a class="py-2 d-none d-md-inline-block" routerLink="tops">Support</a>
        <a class="py-2 d-none d-md-inline-block" routerLink="checkout"><fa-icon [icon]="faBasket"></fa-icon></a>
    </div>
</nav>